In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
pwd

'/content'

### 1년치 데이터만 가지고 column 실험해보기

In [4]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Raw Data/2020/202001_uv.csv')
my_list = [0,1,2,3]
df = df.drop(my_list)

In [5]:
df

,Unnamed: 0,202001_uv.yyyymmdd,202001_uv.hhnn,202001_uv.stn,202001_uv.lon,202001_uv.lat,202001_uv.uv,202001_uv.band1,202001_uv.band2,202001_uv.band3,...,202001_uv.band12,202001_uv.band13,202001_uv.band14,202001_uv.band15,202001_uv.band16,202001_uv.solarza,202001_uv.sateza,202001_uv.esr,202001_uv.height,202001_uv.landtype
4,5,20200101,0,115,130.89864,37.48129,0.0,0.00000,-0.00057,-0.00030,...,244.56708,264.88004,263.95472,262.33534,253.25397,164.19725,43.74521,-9.45200,222.80,4
5,6,20200101,0,131,127.44066,36.63924,0.0,0.00000,0.00000,0.00000,...,245.02255,263.96330,264.23788,263.88311,254.98555,163.46199,42.69599,-9.42573,58.70,3
6,7,20200101,0,132,126.33000,36.54000,0.0,-0.00057,0.00000,-0.00060,...,242.90744,259.90613,260.22621,259.83901,252.63718,162.98337,42.62037,-9.40485,47.00,0
7,8,20200101,0,133,127.37212,36.37200,0.0,0.00000,-0.00057,-0.00089,...,246.06410,265.49123,265.72747,265.42588,255.82160,163.63980,42.40541,-9.43453,68.94,3
8,9,20200101,0,138,129.37962,36.03259,0.0,-0.00057,-0.00057,0.00060,...,250.71575,273.93544,274.50047,273.05592,260.22575,164.86555,42.02608,-9.48647,2.28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66955,66956,20200131,2350,146,127.11900,35.84080,0.0,0.00000,-0.00057,0.00209,...,249.08500,269.91016,269.67479,268.32611,257.72241,156.42947,41.81018,-8.42301,62.90,3
66956,66957,20200131,2350,152,129.33472,35.58250,0.0,0.00000,-0.00057,0.00089,...,250.34488,271.76918,272.17441,271.80075,260.03945,157.77890,41.52495,-8.56421,82.00,2
66957,66958,20200131,2350,156,126.89158,35.17294,0.0,-0.00057,0.00000,-0.00060,...,250.43234,271.76918,272.19064,271.65119,260.16989,156.79932,41.04849,-8.43662,72.38,3
66958,66959,20200131,2350,159,129.03203,35.10468,0.0,-0.00057,0.00000,0.00060,...,254.24811,277.78322,277.94456,277.10672,262.83891,158.00105,40.96396,-8.56695,69.56,3
66959,66960,20200131,2350,165,126.38121,34.81689,0.0,0.00000,-0.00057,0.00060,...,250.80270,272.12331,272.40141,272.11585,260.48605,156.76588,40.67788,-8.41952,38.00,3

In [6]:
df = df.drop('Unnamed: 0',axis=1)

In [7]:
df = df.reset_index()
df = df.drop('index',axis = 1)

In [8]:
df

,202001_uv.yyyymmdd,202001_uv.hhnn,202001_uv.stn,202001_uv.lon,202001_uv.lat,202001_uv.uv,202001_uv.band1,202001_uv.band2,202001_uv.band3,202001_uv.band4,...,202001_uv.band12,202001_uv.band13,202001_uv.band14,202001_uv.band15,202001_uv.band16,202001_uv.solarza,202001_uv.sateza,202001_uv.esr,202001_uv.height,202001_uv.landtype
0,20200101,0,115,130.89864,37.48129,0.0,0.00000,-0.00057,-0.00030,0.00075,...,244.56708,264.88004,263.95472,262.33534,253.25397,164.19725,43.74521,-9.45200,222.80,4
1,20200101,0,131,127.44066,36.63924,0.0,0.00000,0.00000,0.00000,-0.00015,...,245.02255,263.96330,264.23788,263.88311,254.98555,163.46199,42.69599,-9.42573,58.70,3
2,20200101,0,132,126.33000,36.54000,0.0,-0.00057,0.00000,-0.00060,0.00030,...,242.90744,259.90613,260.22621,259.83901,252.63718,162.98337,42.62037,-9.40485,47.00,0
3,20200101,0,133,127.37212,36.37200,0.0,0.00000,-0.00057,-0.00089,0.00015,...,246.06410,265.49123,265.72747,265.42588,255.82160,163.63980,42.40541,-9.43453,68.94,3
4,20200101,0,138,129.37962,36.03259,0.0,-0.00057,-0.00057,0.00060,-0.00015,...,250.71575,273.93544,274.50047,273.05592,260.22575,164.86555,42.02608,-9.48647,2.28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66951,20200131,2350,146,127.11900,35.84080,0.0,0.00000,-0.00057,0.00209,0.00075,...,249.08500,269.91016,269.67479,268.32611,257.72241,156.42947,41.81018,-8.42301,62.90,3
66952,20200131,2350,152,129.33472,35.58250,0.0,0.00000,-0.00057,0.00089,-0.00075,...,250.34488,271.76918,272.17441,271.80075,260.03945,157.77890,41.52495,-8.56421,82.00,2
66953,20200131,2350,156,126.89158,35.17294,0.0,-0.00057,0.00000,-0.00060,0.00045,...,250.43234,271.76918,272.19064,271.65119,260.16989,156.79932,41.04849,-8.43662,72.38,3
66954,20200131,2350,159,129.03203,35.10468,0.0,-0.00057,0.00000,0.00060,-0.00030,...,254.24811,277.78322,277.94456,277.10672,262.83891,158.00105,40.96396,-8.56695,69.56,3
66955,20200131,2350,165,126.38121,34.81689,0.0,0.00000,-0.00057,0.00060,-0.00105,...,250.80270,272.12331,272.40141,272.11585,260.48605,156.76588,40.67788,-8.41952,38.00,3

### 2020년 Raw Data에서 이상치 파악하기

In [15]:
month = ["01","02","03","04","05","06","07","08","09","10","11","12"]
for i in range(0,12): # i는 0부터 11까지
  _month = month[i]
  df = pd.read_csv('/content/drive/MyDrive/Raw Data/2020/2020'+_month+'_uv.csv')
  uv=df['2020'+_month+'_uv.uv']
  date = df['2020'+_month+'_uv.yyyymmdd']
  new_date = set()
  count= 0
  stn_count = []
  for k in range(len(uv)):
    if uv[k] == -999:
      count+=1
      stn_count.append(df['2020'+_month+'_uv.stn'][k])
      new_date.add(date[k])
  print("-"*100)
  print("< "+str(i+1)+" 월 >")
  print("이상치 개수:", count)
  print("이상치가 나타나는 일 수:" ,len(new_date))
  print()

----------------------------------------------------------------------------------------------------
< 1 월 >
이상치 개수: 5242
이상치가 나타나는 일 수: 31

----------------------------------------------------------------------------------------------------
< 2 월 >
이상치 개수: 5043
이상치가 나타나는 일 수: 29

----------------------------------------------------------------------------------------------------
< 3 월 >
이상치 개수: 5113
이상치가 나타나는 일 수: 31

----------------------------------------------------------------------------------------------------
< 4 월 >
이상치 개수: 567
이상치가 나타나는 일 수: 30

----------------------------------------------------------------------------------------------------
< 5 월 >
이상치 개수: 445
이상치가 나타나는 일 수: 31

----------------------------------------------------------------------------------------------------
< 6 월 >
이상치 개수: 104
이상치가 나타나는 일 수: 21

----------------------------------------------------------------------------------------------------
< 7 월 >
이상치 개수: 249
이상치가 나타나는 일 수: 23

----------------------------------------------------------------------------------------------------
< 8 월 >
이상치 개수: 2795
이상치가 나타나는 일 수: 31

----------------------------------------------------------------------------------------------------
< 9 월 >
이상치 개수: 2859
이상치가 나타나는 일 수: 29

----------------------------------------------------------------------------------------------------
< 10 월 >
이상치 개수: 652
이상치가 나타나는 일 수: 31

----------------------------------------------------------------------------------------------------
< 11 월 >
이상치 개수: 653
이상치가 나타나는 일 수: 30

----------------------------------------------------------------------------------------------------
< 12 월 >
이상치 개수: 1509
이상치가 나타나는 일 수: 31

### 2020년도 이상치 제거하기

In [21]:
month = ["01","02","03","04","05","06","07","08","09","10","11","12"]
for i in range(0,12): # i는 0부터 11까지
  _month = month[i]
  df = pd.read_csv('/content/drive/MyDrive/Raw Data/2020/2020'+_month+'_uv.csv')
  band1 = df['2020'+_month+'_uv.band1']
  print("-"*100)
  print("< "+str(i+1)+" 월 >")
  drop_list = []
  print("총 데이터 개수",len(df))

  # band1의 이상치 라인 삭제
  for j in range(0,len(df)):
    
    if band1[j] == -999 :
      drop_list.append(j)
  
  print("삭제된 개수", len(drop_list))
  new_df = df.drop(drop_list)
  new_df = new_df.drop('Unnamed: 0',axis=1)
  new_df = new_df.reset_index()

  # uv의 결측치 및 이상치 변경
  uv = new_df['2020'+_month+'_uv.uv']
  for k in range(0,len(new_df)):
    if k>0 and k < len(new_df)-1:
      if uv[k] >=0:
        continue
      else: 
        # uv: -999가 이고 위아래 정상적인 값이 존재할 때
        if uv[k-1]>=0 and uv[k+1]>=0:
          # 위아래 값의 평균값으로 이상치를 바꿔준다.
          mean = (uv[k-1]+uv[k+1])/2
          mean = round(mean,1)
          new_df.loc[k, '2020'+_month+'_uv.uv'] = mean

        # uv: 연속적인 -999가 일 때
        else:
          if uv[k-1]>=0: # uv [k-1]은 사실상 0보다 크거나 같을 수 밖에 없는데, 만약 앞에서 처리가 잘 안되었다면 if 문 통과가 안될 것임.
            index = k 
            while True:
              index+=1
              # + 가 나타나는 곳이 있으면 break
              if uv[index]>=0:
                break
            # 정상값 두개의 평균값으로 이상치를 바꿔준다.
            mean = (uv[k-1]+uv[index])/2
            mean = round(mean,1)
            new_df.loc[k, '2020'+_month+'_uv.uv'] = mean
          else:
            print(k) # k로 출력되는 게 없는 걸 보아하니 코드가 잘 동작하는 군

----------------------------------------------------------------------------------------------------
< 1 월 >
총 데이터 개수 66960
삭제된 개수 2220
----------------------------------------------------------------------------------------------------
< 2 월 >
총 데이터 개수 62640
삭제된 개수 465
----------------------------------------------------------------------------------------------------
< 3 월 >
총 데이터 개수 66960
삭제된 개수 945
----------------------------------------------------------------------------------------------------
< 4 월 >
총 데이터 개수 64800
삭제된 개수 930
----------------------------------------------------------------------------------------------------
< 5 월 >
총 데이터 개수 66960
삭제된 개수 480
----------------------------------------------------------------------------------------------------
< 6 월 >
총 데이터 개수 64800
삭제된 개수 465
----------------------------------------------------------------------------------------------------
< 7 월 >
총 데이터 개수 66960
삭제된 개수 495
----------------------------------------------------------------------------------------------------
< 8 월 >
총 데이터 개수 66960
삭제된 개수 660
----------------------------------------------------------------------------------------------------
< 9 월 >
총 데이터 개수 64800
삭제된 개수 525
----------------------------------------------------------------------------------------------------
< 10 월 >
총 데이터 개수 66960
삭제된 개수 480
----------------------------------------------------------------------------------------------------
< 11 월 >
총 데이터 개수 64800
삭제된 개수 720
----------------------------------------------------------------------------------------------------
< 12 월 >
총 데이터 개수 66960
삭제된 개수 540